* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
  margin-top: 10px;
}

li {
  margin-bottom: 10px;
}

.todo-inp {
  margin-top: 10%;
  height: 50px;
  width: 10%;
  padding-left: 10px;
  border-radius: 15px;
  border: 0.5px solid rgb(24, 149, 95);
  outline: 0;
}

input:checked + span {
  text-decoration: line-through;
}

.add-btn {
  margin-left: 0.5rem;
  padding: 10px 15px;
  color: #fff;
  background: rgb(24, 149, 95);
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

span:last-child {
  color: red;
  cursor: pointer;
}
